* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 2fr);
  display: grid;
  grid-area: 1/1/1/
  6;

}

.logo {
  min-width:max-content;
}

.menu {
  display: grid;
  grid-area: 1/3/6/8;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  position: relative;
  
  
}

.menu ul,
.menu li {
  font-size: 16px;

  
}

.menu li {
  cursor: pointer;  
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-auto-rows: 10%;
  grid-auto-columns: padding 50%;;
  gap: 3%;
  text-align: center;

grid-area: 2/1/4/1;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo,
.side-content{
  display: grid;
  align-items: center;
  justify-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  height: fit-content;
  display: grid;
  gap: 20%;
  grid-area: 2/2/2/6

}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;  
}

.nav li{
  cursor: pointer;  
  
}

.article {
  background-color: #bccbde;
  /* margin-top: 20%;
  margin-left: -103.5%; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: 3/2/3/6;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card{
 
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}



.footer {
  background-color: #393f4d;
  grid-area: 4/1/4/6;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
